{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div style="width:50%;border:0.5px solid blue;padding:20px;margin:auto;margin-top: 7%;">
        <h1 class="text-center lead"style="font-size:2em;font-weight:bold;color:green;">LOG IN</h1>
        <form method="post" novalidate >{% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class='btn btn-primary btn-block' value="LOG IN">LOG IN</button> <br>
        <a href="{% url 'password_reset' %}">Forgot Password?</a> <br><br>
        </form>
    </div>
{% endblock %}