{% extends 'base.html' %}

{% block content %}
<div style="width:50%;border:0.5px solid blue;padding:20px;margin:auto;margin-top: 4%;">
    SET YOUR NEW PASSWORD 
    {% if validlink %}
        <form method="post">{% csrf_token %}
            {{ form.as_p }}<br> 
            <button type="submit" value="Send confirmation link ">Change</button>
        </form>
    {% else %}
        <p style="color:red"> Invalid Token </p>
        <a style="color:green; "href= "{% url 'login'%}">Create New Password token</a>
    {% endif %}
</div>
{% endblock %}
