{% extends 'base.html' %}

{% block content %}
<div style="width:50%;border:0.5px solid blue;padding:20px;margin:auto;margin-top: 7%;">
<p style="color:red; font-size:2em;">Password reset sent</p>
{{ user.username }}
We’ve emailed you instructions for setting your password, 
if an account exists with the email you entered. You should receive them shortly.
If you don’t receive an email, please make sure you’ve entered the address you 
registered with, and check your spam folder.
</div>
{% endblock %}