<div class="container bg-dark">
<footer class="page-footer bg-dark text-white container font-small mdb-color lighten-3 pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">Content</h5>
        <p>This is a simple blogging app,where you can write your own blogs.Your blog will be posted with your name and your social account platforms.So why are you waiting! start now to write your own blogs.</p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">
      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fa fa-home mr-3"></i>Tinsukia, Assam</p>
          </li>
          <li>
            <p>
              <i style="display:inline;"class="fa fa-envelope mr-3"></i>vishalpandeynits@gmail.com</p>
          </li>
          <li>
            <p>
              <i class="fa fa-phone mr-3"></i> +919957767675</p>
          </li>  
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Me</h5>

        <!-- Facebook -->
        <a href="https://www.facebook.com/bishal.panday.9275" type="button" class="btn-floating btn-fb">
          <i class="fa fa-facebook-f fa-3x"></i>
        </a><br>
        <!-- Twitter -->
        <a href="https://twitter.com/@VishalP07329849"type="button" class="btn-floating btn-tw">
          <i class="fa fa-twitter fa-3x"></i>
        </a><br>
        <!-- Google +-->
        <a href="https://github.com/vishalpandeyvip/" type="button" class="btn-floating btn-github">
          <i style="color:red;"class="fa fa-github fa-3x "></i>
        </a><br>
        <!-- Dribbble -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright</div>
  <!-- Copyright -->
</footer>