	<nav style="color:red;font-weight:bolder;" class="navbar navbar-expand-lg navbar-light bg-info">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a style="color:red;" class="nav-link" href="/">Home</a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a style="color:red;" class="nav-link" href="/create">Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:red;" href="/mynotes/">Your Notes </a>
        </li>
      {% endif %}
    </ul>

    <ul class="navbar-nav dropleft float-right">
       {% if user.is_authenticated %}
          <li class="nav-item dropdown mr-2">
            <a class="nav-link dropdown-toggle text-capitalize" id="navbarDropdown" role="button" style="color:red;"data-toggle="dropdown" aria-haspopup="true">{{user.username}}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/myaccount/">My Account</a>
                <a class="dropdown-item" href="{% url 'password_change' %}">Change Password </a>
                <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
            </div>
          </li>
      {% else %}
      <div>
          <a class="btn btn-success mr-auto list-inline" href="{% url 'signup' %}"> Sign Up</a>
          <a class="btn btn-success mr-auto list-inline" href="{% url 'login'  %}"> Log In </a>
      </div>
      {% endif %}
    </ul>		
  </div>
</nav>