{% extends 'base.html' %}
{% block content %}
	<h1> List of blogs. shivam</h1>
	Want to add a new Blog? <a href="{% url 'create' %}" >Add Blog </a><br>
	<strong> Total no. of Blogs {{ num_posts }} </strong>
	<form class="form-inline float-right my-2 my-lg-0">
      <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
	{% for note in post %}
	<hr>
	{% if note.author == user.username %}
		<a style="margin-left:10px;" class="btn btn-primary float-right mr-4"href="/delete/{{note.pk}}"> Delete </a>
		<a style="margin-left:10px;" class="btn btn-danger float-right ml-4" href="/update/{{note.pk}}"> Update </a>
	{% endif %}
		<p> Post Number {{ note.id }} </p>
	<a href="/status/{{note.pk}}" style="text-size:2em;"> {{note.title}} </a>
	<p> By {{ note.user }} on {{ note.date_pub }} <p>
	{% endfor %}
{% endblock %}