{% extends 'base.html' %}
{% block content %}
	<h1 style="display:inline;"> {{ read.title }}</h1>
	{% if read.user.username == user.username %}
		<a style="margin-left:20px;" class="btn btn-danger float-right mr-4 "href="/delete/{{read.id}}"> Delete </a>
		<a style="margin-left:20px;" class="btn btn-primary float-right ml-4" href="/update/{{read.id}}"> Update </a><br>
	{% endif  %}

	{% if read.picture %}
	<img src="{{read.picture.url}}" class="img-fluid rounded mx-auto d-block mt-4" style="height:450px;width:600px;" alt="Responsive image">
	{% endif %}

	{{ read.content }}
	{{ read.user.username}}
	<hr>
{% endblock %}